* {
  margin: 0;
  padding: 0;
}

body {
    background: linear-gradient(90deg, #05ffde 0%, #1605ff 100%);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

main {
  display: flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

button {
  border-radius: 9px;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #FFFFFF;
  color: #000000;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}