* {
  margin: 0;
  padding: 0;
}

body {
    background: linear-gradient(90deg, #570236 0%, #3e026e 100%);
}

h1{
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 120px;
}

p{
  color: #FFFFFF;
  font-size: 18px;

}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}